

.cardevent{
    width: 50%;
    margin-left: 230px;
    text-align: center;
    border-style: solid;
    margin-bottom: 10px;
}

.event-desctip {
    display: flex;
    border-style: solid;
    float: left;
}
.icon-event{
    margin-right: 10px;
}

.event-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.button{
    display: flex;
    border-radius: 10px 5px 10px 5px;
    flex-direction: row-reverse;
}

.event-img{
    display: flex;
    
}